name: Create Jira issue
on:
  issues:
    types:
      - opened
permissions:
  contents: write
  issues: write
jobs:
  create-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Jira Login
        uses: atlassian/gajira-login@v3
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Issue Parser
        uses: stefanbuck/github-issue-parser@v3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/fe-issue.yml

      - name: Convert markdown to Jira Syntax
        uses: peter-evans/jira2md@v1
        id: md2jira
        with:
          input-text: |
            ### Github Issue Link
            - ${{ github.event.issue.html_url }}

            ${{ github.event.issue.body }}
          mode: md2jira

      - name: Create Jira Issue
        id: create
        uses: atlassian/gajira-create@v3
        with:
          project: SCRUM
          issuetype: '${{ steps.issue-parser.outputs.issueparser_taskType }}'
          summary: '${{ github.event.issue.title }}'
          description: '${{ steps.md2jira.outputs.output-text }}'
          fields: |
            {
              "parent": { "key": "${{ steps.issue-parser.outputs.issueparser_parentKey }}" }
            }

      - name: Log created issue
        run: echo "Jira Issue ${{ steps.create.outputs.issue }} created"

      - name: Checkout develop
        uses: actions/checkout@v4
        with:
          ref: develop

      - name: Make final branch name
        id: make-branch
        run: |
          INPUT="${{ steps.issue-parser.outputs.issueparser_branch }}"
          TICKET="${{ steps.create.outputs.issue }}"
          FINAL_BRANCH=$(echo "$INPUT" | sed "s/\//\/$TICKET-/")
          echo "final_branch=$FINAL_BRANCH" >> $GITHUB_OUTPUT

      - name: Create branch with Ticket number
        run: |
          git checkout -b ${{ steps.make-branch.outputs.final_branch }}
          git push origin ${{ steps.make-branch.outputs.final_branch }}

      - name: Update issue title
        uses: actions-cool/issues-helper@v3
        with:
          actions: 'update-issue'
          token: ${{ secrets.GITHUB_TOKEN }}
          title: "${{ steps.create.outputs.issue }} ${{ github.event.issue.title }}"
